
.Body{
  background-color: white;
  /* display: flex; */
  height: 100%;
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  }

  .appHeader{
    background-color: white;
    border-bottom:1px solid gray ;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
